/*.testing {
  width: percentage(5/7);
}
.test-watch {
	display: none;
}*/

/*test displays*/

/* test classes*/
.delimitare{
	border: 2px solid #888888;
	display: inline-block;
}

.margini{
	margin-right: auto;
	margin-left: auto;
}

.site-width {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .site-width {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .site-width {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .site-width {
    width: 1200px;
  }
}

/* fonts */
p {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	size: 40px;
}

